{% extends "base.html" %}
{% block content %}
<html>
<head>
 <title>会員トップ</title>
</head>
<body>
  <div>
    <h1>会員トップ</h1>
    <h2>{{ user }}</h2>
    <div>
    </div>
    <h3>hoge:{{ hoge }}</h3>
    <p>
      <a href="/logout"><button type="button" >ログアウト</button></a>
    </p>
  </div>
</body>
</html>
{% endblock content%}
<!-- <p>UserId:{{ user.access_token.user_id }}</p> -->
<!-- <p>'user_oauth_token': {{user_oauth_token}}</p> -->
<!-- <p>'user_oauth_token_sercret': {{user_oauth_token_sercret}}</p> -->
<!-- <p>OAuthTokenSecret:{{ user.access_token.oauth_token_secret }}</p>
<p>OAuthToken:{{ user.access_token.oauth_token }}</p> -->
<!-- <p>スクリーンネーム:{{ screen_name }}</p> -->
<!-- <p>ツイートの合計数:{{ user.access_token.statuses_count }}</p>
<p>ウェブサイト:{{ user.access_token.url }}</p>
<p>フォロワー数:{{ user.access_token.followers_count }}</p>
<p>最新ツイート:{{ user.access_token.status{text} }}</p> -->
