{% extends "base.html" %}
{% block content %}
  <div align="center">
    <h1>あなたのベストツイート🐣</h1>
    <p>
      <a href="/logout"><button type="button" >ログアウト</button></a>
    </p>
    <div>
      <!-- <p><b>ScreenName</b>:{{ screen_name }}</p> -->
      <!-- <p><b>Name</b>:{{ social_account.access_token.name }}</p> -->

      <p><b>OAuthTokenSecret</b>:{{ user_oauth_token_secret }}</p>
      <p><b>OAuthToken</b>:{{ user_oauth_token }}</p>
      <p><b>User</b>:{{ social_account }}</p>
      <p><b>UserName</b>:{{ social_account_name }}</p>

      <!-- <p><b>created_at</b>:{{ social_account.access_token.created_at }}</p>
      <p><b>description</b>:{{ social_account.access_token.description }}</p>
      <p><b>status</b>:{{ social_account.access_token.status.text }}</p>
      <p><b>url</b>:{{ social_account.access_token.url }}</p>
      <p><b>followers_count</b>:{{ social_account.access_token.followers_count }}</p> -->

    </div>
  </div>
{% endblock content %}
<!-- <p><b>ScreenName</b>:{{ social_account.access_token.screen_name }}</p> -->
<!-- <p><b>UserId</b>:{{ social_account.access_token.user_id }}</p>
<p><b>AuthTime</b>:{{ social_account.extra_data.auth_time }}</p> -->
<!-- <p><b>OAuthTokenSecret</b>:{{ user.access_token.oauth_token_secret }}</p> -->
<!-- <p><b>OAuthToken</b>:{{ user.access_token.oauth_token }}</p> -->
